/* You can add global styles to this file, and also import other style files */

.test-border-red {
    border: 1px solid Red;
    margin: 5px 0px 5px 0px;
}

.test-border-blue {
    border: 1px solid Blue;
    margin: 5px 0px 5px 0px;
}

.container-padding {
    padding: 10px;
}